<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="file" />
      <input type="submit" />
    </form>

    <div>
      <% if(url){ %>
      <h2>File Uploaded Successfully</h2>
      <img src="<%=url%>" alt="Upload Image" />
      <% } %>
    </div>
  </body>
</html>
